{{outlet}}
<h1>Hello Ember-Simple-Auth-Auth0</h1>
{{#if session.isAuthenticated}}
  <div>
    You are currently logged as: {{session.data.authenticated.profile.email}}
  </div>
  <button {{ action "logout" }}>Logout</button>
{{else}}
  <button {{ action "login" }}>Login</button>
{{/if}}
